# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.env
.env.local

# Vite
.vite/

# Tanstack Router
src/routeTree.gen.ts
